#wpr_moduleLoader{max-width:1235px; min-width:1024px; min-height:720px; width:100%; height:100%; position:relative; padding:10px; margin-left:auto; margin-right:auto; text-align:right;}
#wpr_moduleLoader > .elbow{width:165px; height:270px; float:left; position:static;}
#wpr_moduleLoader > .elbow ~ .elbow{width:255px; right:0px; float:right;}
#wpr_moduleLoader > .elbow .innerRadius{top:265px; bottom:auto; left:55px;}
#wpr_moduleLoader > .elbow ~ .elbow .innerRadius{left:auto; right:55px;}
#wpr_moduleLoader > .elbow .bar{top:270px; bottom:10px; left:10px; height:auto; width:60px;}
#wpr_moduleLoader > .elbow ~ .elbow .bar{ left:auto; right:10px;}

#wpr_moduleLoader_controls{left:185px; right:275px; height:270px;}
#wpr_moduleLoader_controls .column{min-width:150px;}
#wpr_moduleLoader_controls > *:not(:first-child){margin-left:10px; height:inherit;}
#wpr_moduleLoader_controls .column > *:not(:first-child){margin-top:10px;}
#wpr_moduleLoader_controls > .column:first-child{max-width:245px;}
#wpr_moduleLoader_controls > .column:nth-child(2){width:150px;}

input:checked ~ .button{-webkit-animation: darkRed2LightRed 1.5s step-end infinite !important; animation: darkRed2LightRed 1.5s step-end infinite !important; }
input:checked ~ .button:before{content:'Fullscreen';}
#wpr_moduleLoader > .content{top:325px; left:115px; right:115px; bottom:10px; overflow:hidden;}

#wpr_moduleLoader_list{width:100%; flex-wrap:wrap;}

#wpr_moduleLoader_list .complexButton{width:100%; position:relative; margin-top:10px;}
#wpr_moduleLoader_list .complexButton:first-child, #wpr_moduleLoader_list .complexButton:nth-child(2){margin-top:0px;}
#wpr_moduleLoader .numericBlock{letter-spacing: 2px; overflow: hidden;}
#wpr_moduleLoader_list .complexButton > *:not(:first-child){margin-left:10px;}
#wpr_moduleLoader_list .complexButton .button{min-width:125px;}
#wpr_moduleLoader_list .complexButton .cap ~ .cap{ max-width:150px; min-width:150px;}

#wpr_moduleLoader_list .complexButton:nth-child(odd){max-width:475px; margin-right:50px; min-width:407px;}
#wpr_moduleLoader_list .complexButton:nth-child(odd) .numericBlock{width:85px;}

#wpr_moduleLoader_list .complexButton:nth-child(even){max-width:480px; min-width:337px;}
#wpr_moduleLoader_list .complexButton:nth-child(even) .numericBlock{width:65px;}

@media (max-width: 1234px) {
    #wpr_moduleLoader_list .complexButton:nth-child(even) .cap, #wpr_moduleLoader_list .complexButton .numericBlock{display:none;}
    #wpr_moduleLoader_list .complexButton:nth-child(even) .button{border-radius:60px 0px 0px 60px; margin-left:0px;}
    #wpr_moduleLoader_list .complexButton:nth-child(odd) .cap ~ .cap{display:none}
    #wpr_moduleLoader_list .complexButton:nth-child(odd) .button{border-radius:0px 60px 60px 0px;}
    #wpr_moduleLoader_list .complexButton:nth-child(odd) .button:before{right:25px;}
}